html, body {
    height: 100%;
    width: 100%;
    font-family: Poppins;
    background-image: linear-gradient(to bottom, #fcf4f4, #6f6f81); 
}

.button{
    cursor: pointer;
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid rgb(8, 1, 1);
    border-radius: 9.2px;
    font-size: 15px;
    font:Lato;
}

button:hover{
    border-color:#cfe6eb;
    color: rgb(8, 1, 1);
    box-shadow: 0 0.5em 0.5em #09022d;
    transition: transform 500ms ease;
    transform : translateY(-0.25em);
  }

.row{
    margin: 8.5px 0;
}
.row input{
    width: 292px;
    font-size: 25px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(8, 1, 1);
    border-radius: 5px;
}
